@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,600&family=Roboto+Mono:ital,wght@1,700&display=swap');


.headerSection {
    background-image: url(imgs/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100rem;
    text-align: center;
  }
  
  .navbar {
    font-size: 40px;
  }
  
  .badge {
    font-size: 12px; 
    position: absolute;
    bottom: 70px;
    right: 38px;
  }
  
  li {
      font-family: 'Roboto';
      font-weight: 600;
      font-style: italic;
  }
  
  .headerSection p {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 900;
    color: #36a028;
    font-size: 50px;
    padding-top: 100px;
  }

.menuRow {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 50px;
}

.orderBtn {
  color: #ee5a00;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ee5a00;
  padding:5px 10px;
  font-size: 10px;
  line-height: 1.5;
  border-radius: 0.25rem;
}

#ourMenu {
    background-color: rgb(241, 199, 135);
    background-size: cover;
    background-position: center;
    height: 85rem;
    font-family: 'Poppins';
    font-weight: 900;
    font-style: italic;
}

.menu {
  background: #faebcf;
  box-shadow: 0px 2px 4px rgba(0, 255, 34, 0.2),
    0px 4px 8px rgba(0, 255, 0, 0.15);
  border-radius: 10px;
  height: 500px;
  opacity: 0.85;
}

.menu:hover {
    opacity: 1;
}

.fa {
    font-size: 12px;
    color: #ee5a00;
}

.far {
    font-size: 12px;
}


/* Styling the about us section*/
#aboutUs {
    background-image: url(imgs/nice.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: left;
    height: 40rem;
    color:#ee9300;
    font-family: "Poppins";
}

p strong {
    text-decoration: underline;
}



/* Styling the footer and contact section */

footer {
    background-color: #000000;
    border-radius: 200px 0px 0 0px;
  }
  
  .form-control {
    margin: 20px;
  }
  
  .bx {
    font-size: 30px;
    color: #00eaff;
    padding: 20px;
  }
  
  .bx:hover {
    color: #ee5a00;
  }
  
  .socialMedia {
    margin-left: 1000px;
  }